body {
    background: rgb(18, 53, 35);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-size: 1.5em;
    align-self: flex-start;
}

#extra {
    width: 200px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

nav {
    background: rgb(29, 18, 80);
    border-radius: 2%;
    height: 50px;
    /*width: 1051px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu {
    width: 9vw;
    color: red;
}

#menu:hover {
    position: relative;
    top: 36px;
}

#portrait {
    background: url("../images/car1.jpeg") no-repeat;
    background-size: 100% 100%;
    height: 80vh;
}

#content {
    background: white;
    border-radius: 1%;
    display: flex;
}

aside {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#non-aside {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#aside-a, #aside-c {
    background: rgb(18, 53, 35);
    border-radius: 3%;
    color: white;
    padding: 5px;
}

#aside-c input {
    width: 15vw;
}

#aside-a, #non-aside-a {
    height: 50px;
    font-size: 2em;
    text-align: center;
    padding-top: 18px;
}

#non-aside-a {
    background: #06130d;
    border-radius: 3%;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#non-aside-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#non-aside-b * {
    height: 40vh;
    width: 20vw;
    margin-top: 10vh;
}

#na-b1 {
    background: url("../images/car20.jpeg");
    background-size: 100% 100%;
}

#na-b2 {
    background: url("../images/car19.jpeg");
    background-size: 100% 100%;
}

#na-b3 {
    background: url("../images/car18.jpeg");
    background-size: 100% 100%;
}

#na-b4 {
    background: url("../images/car17.jpeg");
    background-size: 100% 100%;
}

#na-b5 {
    background: url("../images/car16.jpeg");
    background-size: 100% 100%;
}

#na-b6 {
    background: url("../images/car15.jpeg");
    background-size: 100% 100%;
}

#na-b7 {
    background: url("../images/car14.jpeg");
    background-size: 100% 100%;
}

#na-b8 {
    background: url("../images/car13.jpeg");
    background-size: 100% 100%;
}

footer {
    display: flex;
    flex-direction: column;
}

#foot {
    background: white;
    height: 10px;
    border-radius: 2%;
}

.zero {
    color: #c2c2a3;
}

.cent {
    font-weight: bold;
}

#dropdown {
    display: none;
    border: 1px solid black;
    background: rgb(29, 18, 80);
    width: 6vw;
    list-style: none;
    text-align: left;
}

a {
    text-decoration: none;
    color: red;
}

/*tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #menu {
        width: 12vw;
    }

    #dropdown {
        width: 7.75vw;
    }
}

/*mobile view*/
@media (max-width: 767px) {
    html, body {
        margin-left: 0;
        margin-right: 0;
    }

    #menu {
        width: 10vw;
    }

    #ape-side {
        padding: 0 0 0 0;
    }

    aside>*, #non-aside>* {
        margin-bottom: 10px;
    }

    #non-aside>* {
        flex-wrap: wrap;
    }

    #dropdown {
        width: 10vw;
        position: relative;
        right: 40px;
    }
}
