body {
    background: rgb(18, 53, 35);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-size: 1.5em;
    align-self: flex-start;
}

#extra {
    width: 200px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

nav {
    background: rgb(29, 18, 80);
    border-radius: 2%;
    height: 50px;
    /*width: 1051px;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu {
    width: 7vw;
    height: 5.2vh;
    background: url("../images/MenuBtn.png");
    background-size: 100% 100%;
}

.block {
    display: block !important;
}

/* #menu:hover {
    position: relative;
    top: 36px;
} */

#portrait {
    background: url("../images/WebImg2.jpg") no-repeat;
    background-size: 100% 100%;
    height: 80vh;
}

#content {
    background: white;
    border-radius: 1%;
    display: flex;
}

aside {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#non-aside {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#aside-a, #aside-c, .non-aside-c {
    background: rgb(18, 53, 35);
    border-radius: 3%;
    color: white;
    padding: 5px;
}

#aside-c input {
    width: 15vw;
}

#aside-a, #non-aside-a {
    height: 50px;
    font-size: 2em;
    text-align: center;
    padding-top: 18px;
}

#non-aside-a {
    background: #06130d;
    border-radius: 3%;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#non-aside-b {
    display: flex;
}

.non-aside-c {
    display: flex;
    text-align: left;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.non-aside-c p {
    font-size: 150%;
}

#na-b1 {
    width: 500px;
    height: 250px;
    background: url("../images/Memory1.jpg");
    background-size: 100% 100%;
}

#na-b2 {
    width: 500px;
    height: 250px;
    background: url("../images/Memory2.jpg");
    background-size: 100% 100%;
}

#na-b3 {
    width: 500px;
    height: 250px;
    background: url("../images/Memory3.jpg");
    background-size: 100% 100%;
}

/*#non-aside-b .cent {
    visibility: hidden;
    color: yellow;
    background: purple;
    width: 5vw;
    text-align: center;
    margin: auto;
}*/

#na-c-pic-1 {
    width: 10vw;
    height: 20vh;
    background: url("../images/blog.png");
    background-size: 100% 100%;
}

#na-c-pic-2 {
    width: 10vw;
    height: 20vh;
    background: url("../images/book.png");
    background-size: 100% 100%;
}

#na-c-pic-3 {
    width: 10vw;
    height: 20vh;
    background: url("../images/about.png");
    background-size: 100% 100%;
}

#na-c-pic-4 {
    width: 10vw;
    height: 20vh;
    background: url("../images/contact.png");
    background-size: 100% 100%;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
}

#foot {
    background: white;
    height: 10px;
    border-radius: 2%;
}

/*.zero {
    color: #c2c2a3;
}*/

.cent {
    font-weight: bold;
}

#dropdown {
    display: none;
    border: 1px solid black;
    background: rgb(29, 18, 80);
    width: 6.9vw;
    /*list-style: none;*/
    text-align: center;
    position: relative;
    top: 33px;
}

header a, #great-nav a, .non-aside-c a {
    text-decoration: none;
    color: red;
}

/*tablet view*/
@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #menu {
        width: 12vw;
        height: 10vh;
    }

    #na-b1, #na-b2, #na-b3 {
        height: 200px;
    }

    #dropdown {
        width: 11.8vw;
    }
}

/*mobile view*/
@media (max-width: 767px) {
    html, body {
        margin-left: 0;
        margin-right: 0;
    }

    #menu {
        width: 21vw;
        height: 6vh;
    }

    #portrait {
        height: 30vh;
    }

    aside>*, #non-aside>* {
        margin-bottom: 10px;
    }

    #aside-a, #non-aside-a {
        height: 90px;
    }

    #na-c-pic-1, #na-c-pic-2, #na-c-pic-3, #na-c-pic-4 {
        width: 50vw;
    }

    #dropdown {
        width: 20.8vw;
    }
}
